/* universal elements*/
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 4rem;
    color: black;
    
}

body{    background-color: #17202A;
  font-family: Georgia, 'Times New Roman', Times, serif;}


/*Footer */
footer{
    position: static;
    bottom: 5px;
background-color: #AED6F1;
}
 .row{
   position: relative;
    width: 100%;
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 100px;*/
}
.block{   
  
  display: inline-block; 
  float: left;
  width: 33%;
  height: auto;
}

/**************************/

/*******Nav bar***********/
nav>ul {
   /* position: fixed;*/
   opacity: 90%;
   position:sticky;
    max-width: 100%;
    width: 100%;
    height:80px;
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    overflow: auto;
    /*background-color: #333;*/
    background-color:seagreen;
    font-family:monospace;
    font-weight: 600;
  }
  
  nav li {
    float:left;
    position:relative;
    top:20%;
  }
  
  nav li a {
    display: block;
    /*color:#BA4A00;*/
    color: seashell;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
  }
  
  nav li a:hover {
    border:seashell 2px solid;
    border-radius: 10%;
    font-size: 20px;
  }
  /**********************/

/*******Portfolio**********/

#portfolio{
  background-color:seagreen;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0px;
  
}

#portfolio ul{
  text-align: initial;
  background-color:seagreen;
  font-size: 21px;
  list-style-type: circle;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

#portfolio li{
  padding-bottom: 20px;
}

#portfolio a{
  color:seashell;
}

#portfolio a:hover{
  color:#17202A;
  
  font-size: 19px;
  border: seashell 4px solid;
  border-radius: 20%;
}

#portfolio .column-A{
  float:left;
  color: seashell;
  display: inline-block;
  width:40%;
}

#portfolio .column-B{
  display: inline-block;
  width: 40%;
  float: right;

}

.column-A h1,.column-B h1{
  background-color: seashell;
  font-size: 20px;
  font-weight: bold;
}

.column-A h2,.column-B h2{
  font-size: 18px;
}

.column-A h3,.column-B h3{
  font-size: 18px;
}
.column-A h4,.column-B h4{
  font-size: 14px;
  font-style: italic;
}

/**************************/




  /*********Container Class**********/
  .container{
    display: block;
    width: 100%; /* width of container */
    height: 550px; /* height of container */
    object-fit: cover;
    /*border: 5px 5px solid black;*/
  }

.container img{
  
    width: 100%; /* width of container */
    height: 550px; /* height of container */
    object-fit: cover;
    object-position: 50% 20%; /* try 20px 10px */ 
    border: 5px solid black;
}

 p{
    position:absolute;
    
    
    height: auto;
    top: 45%;
    left:5%;
    font-size:20px;
    
}
.container h1{
    position: absolute;
    display: block;
    top:30%;
    left:5%;
    
    color:#5B2C6F;
}
/***************************************************/

/******top**********/
.top{
    background-color: #333;
    display: block;
    color:#BA4A00;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:monospace;
    font-weight: 600;
}
 .top:hover{
    background-color:#FCF3CF;
    font-size: 20px;
 }