/* universal elements*/
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: black;
    
}

body{    background-color: #17202A;}

.portfolio{
  
  
  background-color: crimson;
}
.column-A ul{
  background-color:cadetblue;
  width: 50%;
  height: auto;
}
.container li{
  float:left;
}
.column-B ul{
  
  background-color: cornflowerblue;
  width: 50%;
  height: auto;
}
.column-B li{
  float: right;
}
/*Footer */
footer{
    
background-color: #AED6F1;
}
 .row{
   position: relative;
    width: 100%;
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 100px;*/
}
.block{   
  
  display: inline-block; 
  float: left;
  width: 33%;
  height: auto;
}

/**************************/

/*******Nav bar***********/
ul {
   /* position: fixed;*/
   position:fixed;
    max-width: 100%;
    width: 100%;
    height:50px;
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    overflow: auto;
    background-color: #333;
    font-family:monospace;
    font-weight: 600;
  }
  
  li {
    float:left;
    
  }
  
  li a {
    display: block;
    color:#BA4A00;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:#FCF3CF;
    font-size: 20px;
  }
  /**********************/







  /*********Container Class**********/
  .container{
    width: 100%; /* width of container */
    height: 550px; /* height of container */
    object-fit: cover;
    /*border: 5px 5px solid black;*/
  }

.container img{
  
    width: 100%; /* width of container */
    height: 550px; /* height of container */
    object-fit: cover;
    object-position: 50% 20%; /* try 20px 10px */ 
    border: 5px solid black;
}

.container p{
    position:absolute;
    top: 45%;
    left:5%;
    font-size:20px;
}
.container h1{
    position: absolute;
    top:30%;
    left:5%;
    color:#5B2C6F;
}
/***************************************************/

/******top**********/
.top{
    background-color: #333;
    display: block;
    color:#BA4A00;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:monospace;
    font-weight: 600;
}
 .top:hover{
    background-color:#FCF3CF;
    font-size: 20px;
 }