.container{
    background-image:url("container.jpg");
    color:white;
    background-size: cover;
    width: 100%;
    height: 500px;
    font-family:cursive;
    font-size:large;
}
#intro{
    position: sticky;
}
#me{
    float:right;
    height:250px;
    width:250px ;
    border-radius: 50%;
}
/* Universal Styles */
header{
    background-color: sienna;
    color: silver;
    height:250px;
    width:250px ;
}
body{
    background-color:black;
}